<div class="row">
    <div class="col-md-5">
        <a routerLink="/woman" class="navbar-brand" routerLinkActive="active"> 
          Повернутися <mat-icon class="icon">close</mat-icon> </a>
    </div>
    
        <div class="cards-container">
            <div  class="card">
                <img [src]="product.imagePath" 
                alt="{{product.name}}"
                style="max-height: 300px;">
                <div class="title">{{product.name}}</div>
                <div class="price"> {{product.price}}</div>
                <div class="description"> {{product.description}}</div>
            </div>    
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div
                class="btn-group"
                appDropdown>
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle">
                  Manage Product <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" (click)="onEditProduct()">Edit Product</a></li>
                  <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Product</a></li>
                </ul>
              </div>
            </div>
          </div>
</div>